<h1>Add a Player</h1>

<form action="/players/add" method="post">
  <input type="text" name="name" value="" placeholder="Player Name">
  <input type="text" name="country" value="" placeholder="Country">
  <input type="number" name="age" value="" placeholder="Age">
  <button type="submit">Add Player</button>
</form>
